<!doctype html>
<html>
    <head>
        <title>Fair & Balanced News</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
    </head>
    <body>
        {% from "_formhelpers.html" import render_field %}

        <h1 style="text-align: center;">Fair & Balanced News</h1>
        <div style="width:500px; margin: 0 auto">
            <h5>What news do you want to search for?</h5>
            <form method=post action="/results" style="text-align: center;">
                <!--{{ render_field(form.inputString) }}-->
                <input type="text" id="inputString" name="inputString"/>
                <input type=submit value='Search' name='search_btn'>
            </form>
        </div>
    </body>
</html>